@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
:root {
    --text: #ffffff;
    --background: #141725;
    --primary: #1445B7;
    --active: #3067e7;
}
::-webkit-scrollbar {
   width: 0px;
}

* {
    font-family: 'Poppins', sans-serif;
    border: 0px solid white;
}

html{
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    margin: auto;
}

body {
    height: 100%;
    background: #141725;
    transition: 0.2s ease-in-out;
    max-width: 1530px;
    margin: auto;
}

pre {
    font-size: 14px;
}

code {
    border-radius: 10px;
    border-left: 10px solid #1445B7;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    
}



/* HEADER STYLING START */
/* Navbar margin set */
header {
    align-content: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 5%;
}

li, a, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--text);
    text-decoration: none;
}

.logo {
    cursor: default;
    margin-right: auto;
    width: 100px;
}

.navList {
    list-style: none;
    margin-right: 150px;
    transition: 0.2s ease;
}

.navList li {
    display: inline-block;
    padding: 0px 30px;
    transition: opacity 0.5 ease;
}

.navList li a {
    letter-spacing: 3.5px;
    transition: 0.2s ease;
}

.navList li a:hover {
    color: var(--active);
}

.gitButton {
    display: flex;
    padding: 10px 25px;
    background-color: var(--primary);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-align: center;
    letter-spacing: 3px;
}

.gitButton:hover {
    background-color: var(--active);
}

.gitButtonText {
    padding-right: 10px;
}
/* HEADER STYLING END */



/* CONTENT STYLING START */ 
/* Content margin set */
.content {
    margin: auto;
    padding: 60px 15%;
    max-width: 1080px;
    justify-content: center;
    align-content: center;
}

.beranda {
    display: flex;
    justify-content: space-between;
    flex-basis: content;
    margin-bottom: 20%;
}

.beranda-text {
    padding-right: 0px;
}

.beranda h1 {
    font-weight: 600;
    font-size: 40px;
    color: white;
}

.beranda h3 {
    font-weight: 700;
    font-size: 16px;
    padding: 0px 5px;
    background: -webkit-linear-gradient(#41BAFF, #1951C2);
    background-clip: var(--text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.beranda p {
    font-weight: 300;
    color: white;
    margin-top: 50px;
}

.beranda button {
    background-color: var(--primary);
    border: none;
    border-radius: 12px;
    padding: 10px 100px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.beranda button:hover {
    background-color: var(--active);
}

.beranda .svg {
    display: flex;
    margin-right: 7%;
}

.beranda .svg .svg-left {
    margin-top: 0px;
}

.beranda .svg .svg-right {
    margin: 70px 0px 0px 25px;
}


/* PAGE 2*/
.about-flex {
    display: flex;
    justify-content: space-between;
    flex-basis: content;
}

.about-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 35px;
}

.about h3 {
    font-weight: 700;
    font-size: 16px;
    padding: 0px 5px;
    background: -webkit-linear-gradient(#41BAFF, #1951C2);
    background-clip: var(--text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text);
    background-color: var(--primary);
}

.about h2 {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding: 25px 0px 0px 50px;
}

.about h1 {
    color: white;
    letter-spacing: 3px;
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}

#img-code {
    height: auto;
}

footer {
    margin: 0;
    min-height: 50px;
    padding-top: 50%;
    bottom: 0px;
}

footer div {
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}

footer div h1{
    align-items: center;
    color: var(--text);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2.5px;
    text-align: center;
    background-color: var(--primary);
    min-width: 100%;
    padding: 25px 0;
}

@media screen and (max-width: 1200px) {
    body {
        background-color: #000000;
    }

    header {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 10px;
        background-color: var(--background);
        transition: all 0.2s ease;
    }

    .hamburger {
        display: block;
        position: relative;
        justify-content: center;
    }

    .hamburger .line {
        width: 30px;
        height: 2px;
        background: var(--text);
        margin: 6px 18px ;
    }

    .navList {
        max-height: 0px;
        position: absolute;
        top: 43.5px;
        left: 0;
        right: 0;
        width: 100vw;
        background: var(--background);
    }

    .navList li {
        display: block;
        visibility: hidden;
        width: fit-content;
        margin: auto;
        text-align: center;
        margin: 60px 0;
        margin-right: 17vw;
        transition: opacity 0.5;
        opacity: 0;
    }

    .navList.active {
        max-height: 360px;
    }

    .navList.active li {
        visibility: visible;
        animation: visible 0.5s forwards;
    }

    @keyframes visible {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    .navList li a {
        padding: 20px;
    }

    .gitButtonText {
        display: none;
    }

    .gitButton {
        border-radius: 10px;
        padding: 7px 12px;
        margin-right: 55px;
    }

    .logo {
        margin-left: 10px;
    }

    .gitLogo {
        height: auto;
        width: 25px;
    }


    /* Content Styling */
    .content {
        padding: 100px 0;
    }

    /*Page 1 Resp*/
    .beranda {
        margin: auto;
        flex-direction: column;
        text-align: center;
    }

    .beranda h1{
        font-size: 36px;
    }
    .beranda h3 {
        font-size: 16px;
    }
    .beranda p {
        font-size: 14px;
    }
    
    .beranda .svg {
        margin: auto;
        margin-top: 20%;
        margin-bottom: 30%;
    }

    #svg-left, #svg-right {
        width: 100px;
    }

    /* Page 2 Resp*/
    .about-flex {
        flex-direction: column;
    }

    .about-title h1 {
        letter-spacing: 0px;
        font-size: 36px;
    }

    code {
        margin: auto;
        border-left: 5px solid #1445B7;
        font-size: 10px;
        width: 70%;
    }

    .code-h2 {
        width: 70%;
    }

    footer div h1{
        font-size: 14px;
        padding: 15px 0;
    }
}